<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Song</title>
</head>
<body>
      <form method="POST">
          <label>Song ID:</label>
          <input type="text" id="song_id" name="song_id"><br><br>
          <label>Song Name:</label>
          <input type="text" id="song_name" name="song_name"><br><br>
          <label>Album Name:</label>
          <input type="text" id="album_name" name="album_name"><br><br>
          <label>Singer:</label>
          <input type="text" id="singer" name="singer"><br><br>
          <input type="submit" value="Submit">
      </form>
</body>
</html>