<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Song</title>
</head>
<body>
    <!--点击submit后，执行app.py/create_songs_webpage()，此时request.method == 'POST'-->
      <form method="POST">
          <label>Song Name:</label>
          <input type="text" id="song_name" name="song_name"><br><br>
          <label>Artist:</label>
          <input type="text" id="artist" name="artist"><br><br>
          <label>Release Date:</label>
          <input type="text" id="release_date" name="release_date"><br><br>
          <input type="submit" value="Submit">
      </form>
</body>
</html>