<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Song</title>
</head>
<body>
      <form method="POST">
          <label>Song Name:</label>
          <input type="text" id="song_name" name="song_name" value="{{data['song_name']}}"><br><br>
          <label>Artist:</label>
          <input type="text" id="artist" name="artist" value="{{data['artist']}}"><br><br>
          <label>Release Date:</label>
          <input type="text" id="release_date" name="release_date" value="{{data['release_date']}}"><br><br>
          <input type="submit" value="Submit">
      </form>
</body>
</html>