<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SONG HOME PAGE</title>
  <!-- Include Bootstrap CSS file -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Include custom CSS file -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>

<body>
  <header class="bg-light py-3">
    <div class="container">
      <h1 class="mb-0">SONG HOME PAGE</h1>
    </div>
  </header>
  <main class="container mt-5">
    <!-- Use Bootstrap form styles -->
    <form method="POST" class="form-inline">
      <label for="query_type" class="mr-2">Search by:</label>
      <select name="query_type" id="query_type" class="form-control mr-2">
        <option value="sid">SID</option>
        <option value="name" selected>Name</option>
      </select>
      <label for="query_value" class="mr-2">Query:</label>
      <input type="text" id="query_value" name="query_value" class="form-control mr-2">
      <!-- Use Bootstrap button styles -->
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    <!-- Use Bootstrap table styles -->
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Song Id</th>
          <th>Song Name</th>
          <th>Artist</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{row['sid']}}</td>
          <td>{{row['song_name']}}</td>
          <td>{{row['artist']}}</td>
          <td>{{row['release_date']}}</td>
          <!-- View song details, executes app.py/view_songs_detail() on click -->
          <td><a href={{url_for('view_songs_detail', sid=row['sid'])}}>
            <!-- Use Bootstrap button styles -->
            <button type="button" class="btn btn-secondary btn-sm">View Song</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

      <a href={{url_for('create_songs_webpage')}}><button type="button" class="btn btn-primary">New Song</button></a>
    </main>
    <footer class="bg-light py-3 mt-5">
      <p class="text-center mb-0">Copyright &copy; 2021</p>
    </footer>
      <!-- Include Bootstrap JavaScript file -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>
