<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail for song</title>
</head>
<body>
    <table>
        {% for key, value in data.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
        {% endfor %}
    </table>
    <!--edit button, 点击后执行app.py/edit_song_detail() -->
    <a href={{url_for('edit_song_detail', sid=data['sid'])}}><button type=”button”>Edit Song</button></a><br>

    <!--delete button, 点击后执行app.py/delete_song() -->
    <a href={{url_for('delete_song', sid=data['sid'])}}><button type=”button”>Delete Song</button></a><br>

    <!--home button, 点击后执行app.py/main() -->
    <a href={{url_for('main')}}><button type=”button”>Return Home</button></a>
</body>
</html>